.books-container {
  max-width: 1200px;    /* Controls total width */
  margin: 40px auto 0 auto;     /* Centers the whole grid */
  padding: 0 40px;      /* Left & right spacing */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 70px;  /* space below the title */
}


.book-card {
  position: relative;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background: #fff;
  transition: 0.3s ease;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.book-card .icons {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.book-card .icons a {
  color: #444;
  font-size: 16px;
}

/*  
.book-card .image {
  width: 10px;
  height: 5px;
  overflow: hidden;
 */
 .image img {
  width: 10px;
  height: 5px;
  overflow: hidden;
 }
 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-card .content {
  margin-top: 15px;
}

.book-card .price {
  font-size: 18px;
  font-weight: bold;
}

.book-card .price span {
  text-decoration: line-through;
  color: #999;
  margin-left: 10px;
  font-size: 16px;
}
